<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="fw-bold fs-2 text-uppercase mb-0">Gestión de administradores</h2>
    <button class="btn fw-bold text-black border border-3 border-dark bg-white">
      Alta administrador
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Fecha registro</th>
          <th>Estado usuario</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        @for (usuario of usuarios; track usuario.email) {
        <tr>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellidos }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.fechaRegistro | date : "dd/MM/yyyy" }}</td>
          <td>
            {{ usuario.enabled === 1 ? "ACTIVO" : "INACTIVO" }}
          </td>
          <td>
            <button class="btn btn-sm btn-outline-primary me-2">MODIFICAR</button>
            <button class="btn btn-sm btn-outline-danger me-2">ELIMINAR</button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="6">No hay candidatos disponibles</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
