<!-- FORMULARIO DE LOGIN -->

<div class="bg-white rounded shadow p-4 p-md-5 d-flex flex-column min-vh-50" style="min-height: 400px;">
  <h2 class="h4 fw-bold mb-4 text-center text-dark">
    {{ titulo }}
  </h2>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="d-flex flex-column flex-grow justify-content-between">
    <div class="mb-4 flex-grow">
      <div class="mb-3">
        <label for="email" class="form-label small fw-medium">Correo electrónico</label>
        <input
          id="email"
          formControlName="email"
          placeholder="tucorreo@mail.com"
          type="email"
          required
          class="form-control" />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label small fw-medium">Contraseña</label>
        <input
          id="password"
          formControlName="password"
          placeholder="********"
          type="password"
          required
          class="form-control" />
      </div>
    </div>

    <div class="pt-3">
      <button
        type="submit"
        class="btn btn-warning w-100 text-white">
        INICIAR SESIÓN
      </button>
    </div>
  </form>
</div>
