<section>
  <h2 class="welcome-title mb-5">Hola, {{ usuario?.nombre || 'Usuario' }}!</h2>

  <h5 class="section-title fw-bold">Nuestras vacantes más populares</h5>
    <table class="table tabla-estilo table-hover mb-5">
      <thead>
        <tr>
          <th>Puesto</th>
          <th>Salario</th>
          <th>Empresa</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (vacante of populares; track vacante.id_vacante) {
          <tr>
            <td>{{ vacante.nombre }}</td>
            <td>{{ vacante.salario | currency }}</td>
            <td>{{ vacante.id_empresa }}</td>
            <td>
              <button class="btn btn-sm btn-outline-warning" [routerLink]="['/candidato/vacantes', vacante.id_vacante]">
                DETALLES
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <h5 class="section-title fw-bold">Nuestras vacantes más recientes</h5>
    <table class="table tabla-estilo table-hover">
      <thead>
        <tr>
          <th>Puesto</th>
          <th>Salario</th>
          <th>Fecha</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (vacante of recientes; track vacante.id_vacante) {
          <tr>
            <td>{{ vacante.nombre }}</td>
            <td>{{ vacante.salario | currency }}</td>
            <td>{{ vacante.fecha }}</td>
            <td>
              <button class="btn btn-sm btn-outline-warning" [routerLink]="['/candidato/vacantes', vacante.id_vacante]">
                DETALLES
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>

</section>
