<!--HTML PARA EL ACCESO DE CANDIDATO:
    puede logearse directamente con el login-form ó
    puede ver la registro-info(info y boton de registrarse) -->
<app-public-nav></app-public-nav>

<section class="bg-warning d-flex justify-content-center align-items-center px-3 py-5" style="min-height: 100vh;">
  <div class="container" style="max-width: 960px;">
    <div class="row g-4">
      <div class="col-12 col-md-6">
        <app-login-form [tipo]="'candidato'"></app-login-form>
      </div>
      <div class="col-12 col-md-6">
        <app-registro-info [tipo]="'candidato'"></app-registro-info>
      </div>
    </div>
  </div>
</section>




