<!-- NAVAGADOR PARA LA PARTE PÚBLICA -->
<nav class="bg-white shadow-sm py-3 px-4">
  <div class="container d-flex justify-content-between align-items-center" style="max-width: 1280px;">

    <!-- Logo con imagen -->
    <a routerLink="/">
      <img src="assets/img/FullJob_logo.png" alt="FullJob Logo" style="height: 5rem;" id="logo" />
    </a>

    <div class="d-flex gap-2">

      <a
        [routerLink]="'/access/empresa'"
        class="bg-warning text-white fw-bold px-3 py-2 rounded text-decoration-none"
        style="transition: background-color 0.2s ease;">
        Acceder Empresas
      </a>

      <a
        [routerLink]="'/access/candidato'"
        class="bg-warning text-white fw-bold px-3 py-2 rounded text-decoration-none"
        style="transition: background-color 0.2s ease;">
        Acceder Candidatos
      </a>


    </div>
  </div>
</nav>
