<section class="container mt-4">
  <h2 class="welcome-title mb-4">{{ tipo }} Administrador</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="formulario-admin p-4 shadow rounded" novalidate>
    <div class="row">

      <!-- Email -->
      <div class="col-md-6 mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="ejemplo@email.com" />
        @if (checkControl('email', 'required')) {
        <p class="error">El email es obligatorio.</p>
        }
        @if (checkControl('email', 'email')) {
        <p class="error">Debe ingresar un email válido.</p>
        }
      </div>

      <!-- Nombre -->
      <div class="col-md-6 mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" />
        @if (checkControl('nombre', 'required')) {
        <p class="error">El nombre es obligatorio.</p>
        }
      </div>

      <!-- Apellidos -->
      <div class="col-md-6 mb-3">
        <label class="form-label">Apellidos</label>
        <input type="text" class="form-control" formControlName="apellidos" />
        @if (checkControl('apellidos', 'required')) {
        <p class="error">Los apellidos son obligatorios.</p>
        }
      </div>

      <!-- Contraseña solo en alta -->
      @if (tipo === 'Alta') {
      <div class="col-md-6 mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" formControlName="password" />
        @if (checkControl('password', 'required')) {
        <p class="error">La contraseña es obligatoria.</p>
        }
        @if (checkControl('password', 'minlength')) {
        <p class="error">Mínimo 8 caracteres.</p>
        }
      </div>
      }

    </div>

    <div class="text-end">
      <button class="btn btn-formulario" type="submit" [disabled]="form.invalid">
        {{ tipo }} Administrador
      </button>
    </div>
  </form>
</section>