.nav-link-candidato {
  color: #000;
  font-weight: normal;
  text-decoration: none;
  transition: transform 0.2s ease, font-size 0.2s ease;
  display: inline-block;
}

.nav-link-candidato:hover {
  transform: scale(1.05);
}

.activo {
  color: #FAC402;
  font-weight: bold;
}

.avatar-img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}



