<table class="table tabla-estilo table-hover mb-5">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Categoría</th>
      <th>Puesto</th>
      <th>Candidato</th>
      <th>Salario</th>
      <th>Estado</th>
      <th class="text-center">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ miSolicitud.fecha }}</td>
      <td>{{ miSolicitud.nombreCategoria}}</td>
      <td>{{ miSolicitud.nombreVacante }}</td>
      <td>{{ miSolicitud.nombreUsuario }}</td>
      <td>{{ miSolicitud.salario }}</td>
      <td>{{ miSolicitud.estado }}</td>
      <td class="text-center">
        <app-botones-solicitud-empresa [parent]="'card'" [solicitudId]="miSolicitud.idSolicitud" ></app-botones-solicitud-empresa>
      </td>
    </tr>
  </tbody>
</table>
