<div class="form-wrapper">
  <div class="form-card">
    <h4 class="form-title text-center fw-bold mb-4">
      @if (modoEdicion) {
        Editar categoría
      } @else {
        Crea tu categoría
      }
    </h4>

    <form [formGroup]="categoriaForm" (ngSubmit)="guardar()">
      
      <!-- Nombre -->
      <div class="form-group mb-3">
        <label class="form-label">Nombre</label>
        <input
          formControlName="nombre"
          type="text"
          class="form-control form-field"
          [class.is-invalid]="categoriaForm.get('nombre')?.invalid && categoriaForm.get('nombre')?.touched"
        />
        @if (categoriaForm.get('nombre')?.hasError('required')) {
          <div class="invalid-feedback">El nombre es obligatorio.</div>
        }
      </div>

      <!-- Descripción -->
      <div class="form-group mb-4">
        <label class="form-label">Descripción</label>
        <textarea
          formControlName="descripcion"
          rows="3"
          class="form-control form-field"
          [class.is-invalid]="categoriaForm.get('descripcion')?.invalid && categoriaForm.get('descripcion')?.touched"
        ></textarea>
        @if (categoriaForm.get('descripcion')?.hasError('required')) {
          <div class="invalid-feedback">La descripción es obligatoria.</div>
        }
      </div>

      <!-- Botón de actualizar o crear categoria-->
      <div class="text-center">
        <button type="submit" class="btn btn-submit" [disabled]="categoriaForm.invalid">
          {{ modoEdicion ? 'ACTUALIZAR' : 'CREAR CATEGORÍA' }}
        </button>
      </div>
    </form>
  </div>
</div>
