<section class="container ps-5">
  
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="welcome-title">Mis Vacantes</h2>
    <button class="btn btn-publicar" [routerLink]="['/empresa/vacantes/alta']"> PUBLICAR VACANTE</button>
  </div>

  <!-- Tabla de vacantes creadas -->
  <app-vacante-card 
    [titulo]="'Aquí tienes tus vacantes creadas'" 
    [vacantes]="arrayVacantesCreadas" 
    [mostrarOpciones]="true">
  </app-vacante-card>

  <!-- Tabla de vacantes asignadas -->
  <app-vacante-card 
    [titulo]="'Aquí tienes tu lista de vacantes ya cubiertas'" 
    [vacantes]="arrayVacantesAsginadas" 
    [mostrarOpciones]="false">
  </app-vacante-card>

  <!-- Tabla de vacantes canceladas -->
  <app-vacante-card 
    [titulo]="'Aquí tienes tu lista de vacantes canceladas'" 
    [vacantes]="arrayVacantesCanceladas" 
    [mostrarOpciones]="false">
  </app-vacante-card>

</section>
