<div class="container mt-4">
  @if (!mostrarFormulario) {
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="welcome-title mb-0">Gestión de Categorías</h2>
      <button class="btn btn-publicar" (click)="nuevaCategoria()">AÑADIR CATEGORÍA</button>
    </div>

    <h5 class="section-title fw-bold">Listado de categorías disponibles</h5>

    <div class="table-responsive">
      <table class="tabla-estilo mb-5">
        <thead>
          <tr>
            <th class="text-center">Nombre categoría</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          @for (categoria of categorias; track categoria.idCategoria) {
            <tr>
              <td class="text-center">{{ categoria.nombre }}</td>
              <td class="text-center">{{ categoria.descripcion }}</td>
              <td class="text-center">
                <app-categoria-actions [categoria]="categoria"></app-categoria-actions>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (mostrarFormulario) {
    <app-categoria-form
      [categoria]="categoriaSeleccionada"
      (formularioGuardado)="onFormularioGuardado()"
    />
  }
</div>
