section {
  margin-right: 2rem;
  padding-right: 1rem;
  margin-left: 2rem;
  padding-left: 1rem;
}

  .btn-publicar {
    background-color: #ffffff;
    border: 2px solid #474747;
    color: #474747;
    font-weight: 600;
    padding: 0.4rem 1rem;
    transition: all 0.3s ease;
  }
  
  .btn-publicar:hover {
    background-color: #474747;
    color: #fff;
    border-color: #474747;
  }

.modificar {
    background-color: white;
    border: 2px solid #ffdd00;
    padding: 6px 12px;
    margin-right: 6px;
    font-weight: bold;
    color: #ffdd00;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelar {
    background-color: white;
    border: 2px solid red;
    color: red;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }
  