.detalle-vacante-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .detalle-card {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 20px;
    max-width: 850px;
    width: 100%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  }
  
  .detalle-header {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .detalle-imagen {
    width: 220px;
    height: 160px;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .detalle-info h2 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  .destacado {
    background-color: #222;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 0.85rem;
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  
  .empresa {
    font-weight: bold;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .info-extra {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #444;
    font-size: 0.95rem;
  }
  
  .detalle-descripcion {
    margin-top: 2rem;
    color: #333;
  }
  
  .detalle-descripcion h4 {
    margin-bottom: 0.5rem;
    color: #111;
  }
  
  .detalle-descripcion p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }
  
  .detalle-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .badge-precio {
    background-color: #e74c3c;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
  }
  

  .btn-volver {
    border-radius: 10px;
    border: 2px solid #f6c90e;
    padding: 0.8rem 1.5rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    background-color: #fff;
    color: #f6c90e;
    transition: 0.2s ease;
  }

  .btn-volver:hover {
    background-color: #FAC402;
    color: #ffffff;
  }

  .btn-postular {
    background-color: black;
    color: #FAC402;
    padding: 0.9rem 1.5rem;
    border: 2px solid ;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn-postular:hover {
    background-color: white;
    color: black;
  }