
section {
    margin-right: 2rem;
    padding-right: 1rem;
    margin-left: 2rem;
    padding-left: 1rem;
  }

  .section-title {
    color: #474747;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
  }
  
  .welcome-title {
    color: #474747;
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
  }
  