<div class="container py-4">
  <h2 class="welcome-title">Gestión de Candidatos</h2>

  <h5 class="section-title fw-bold">Listado de candidatos registrados</h5>

  <div class="table-responsive">
    <table class="tabla-estilo mb-5">
      <thead>
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Apellidos</th>
          <th class="text-center">Email</th>
          <th class="text-center">Fecha registro</th>
          <th class="text-center">Estado usuario</th>
          <th class="text-center">Opciones</th>
        </tr>
      </thead>
      <tbody>
        @for (usuario of usuarios; track usuario.email) {
          <tr>
            <td class="text-center">{{ usuario.nombre }}</td>
            <td class="text-center">{{ usuario.apellidos }}</td>
            <td class="text-center">{{ usuario.email }}</td>
            <td class="text-center">{{ usuario.fechaRegistro}}</td>
            <td class="text-center">
              <span 
                class="badge px-3 py-2"
                [ngClass]="usuario.enabled === 1 ? 'bg-success' : 'bg-danger'">
                {{ usuario.enabled === 1 ? "ACTIVO" : "INACTIVO" }}
              </span>
            </td>
            <td class="text-center">
              <button
              class="btn btn-sm"
              [ngClass]="usuario.enabled === 1 ? 'btn-outline-danger' : 'btn-outline-success'"
              (click)="suspenderUsuario(usuario)">
              {{ usuario.enabled === 1 ? 'SUSPENDER' : 'ACTIVAR' }}
            </button>
            </td>
          </tr>
        } @empty {
          <tr>
            <td class="text-center" colspan="6">No hay candidatos disponibles</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
