<!--HTML PARA EL ACCESO DE CANDIDATO:
    puede logearse directamente con el login-form ó 
    puede ver la registro-info(info y boton de registrarse) -->
<section class="min-h-screen bg-yellow-400 flex justify-center items-center px-4 py-12">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 max-w-4xl w-full">
    
    <!-- Formulario de login (REUTILIZADO POR TODOS LOS ROLES) -->
      <app-login-form [tipo]="'candidato'"></app-login-form>


    <!-- Bloque de información (REUTILIZADO PARA ROL EMPRESA Y)-->
      <app-registro-info [tipo]="'candidato'"></app-registro-info>


  </div>
</section>
