.formulario-inscripcion {
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
  }
  
  .contenedor-form {
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 12px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .contenedor-form h4,
  .contenedor-form h5 {
    margin-bottom: 1rem;
    color: #222;
    font-weight: 600;
  }
  
  textarea {
    width: 100%;
    min-height: 150px;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 2rem;
    resize: vertical;
  }
  
  .btn-cv {
    background-color: #222;
    color: #FAC402;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: background-color 0.3s ease;
  }
  
  .btn-cv:hover {
      background-color: #FAC402;
      color: black;
    }
  .acciones {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .btn-volver {
    border-radius: 10px;
    border: 2px solid #FAC402;
    padding: 0.8rem 1.5rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    background-color: #fff;
    color: #FAC402;
    transition: 0.2s ease;
  }

  .btn-volver:hover {
    background-color: #FAC402;
    color: #ffffff;
  }

  .btn-postular {
    background-color: black;
    color: #FAC402;
    padding: 0.9rem 1.5rem;
    border: 2px solid ;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn-postular:hover {
    background-color: white;
    color: black;
  }


  .custom-file-upload {
    background-color: #222;
    color: #FAC402;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 2rem;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .custom-file-upload:hover {
    background-color: #FAC402;
    color: black;
  }
  
  .loading {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #0099ff;
    font-style: italic;
  }
  