<!-- HTML PARA DE INFO DE REGISTRO COMUN PARA CANDIDATO Y EMPRESA-->
<div class="w-full p-8 bg-white rounded-lg shadow-lg h-full">

  <!-- El título es comun para los dos roles como pusimos en el wireframe-->
  <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">¿Eres nuevo?</h2>

  <!-- Lista de acciones segun el rol, cambia dinámicamente con *ngFor -->
  <ul class="space-y-6 mb-6">
    <li *ngFor="let accion of acciones" class="flex items-start gap-4">
  
      <!-- Aqui va el icono de cada accion segun el rol-->
      <span class="text-xl">{{ accion.icono }}</span>

      <!-- Aqui va el titulo y el texto de cada rol-->
      <div>
        <p class="font-semibold text-sm text-gray-800 leading-tight">{{ accion.titulo }}</p>
        <p class="text-sm text-gray-600">{{ accion.texto }}</p>
      </div>
    </li>
  </ul>

  <!-- Botón de Registrarse para candidato o Contactar para empresa -->
  <a [routerLink]="link"
     class="block w-full text-center px-4 py-2 rounded bg-yellow-500 hover:bg-yellow-600 
     text-white text-sm font-semibold transition no-underline">
    {{ textoBoton.toUpperCase() }}
  </a>

</div>
